.timeSlider p {
  margin: 50px;
}

.timeSlider a {
  color: #000000;
}

.timeSlider .axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.timeSlider .axis .halo {
  stroke: gray;
  stroke-width: 2px;
  stroke-linecap: round;
}

.timeSlider .slider .handle path {
  stroke: gray;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.timeSlider .slider .handle text {
  fill: gray;
  text-align: center;
  font-size: 12px;
}

.timeSlider .axis .tick text {
    font-size: 12px;
}